<footer
  class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600"
>
  <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400"
    >© <%= new Date().getFullYear() %>
    <a href="/" class="hover:underline">Prisma Loader™</a>. All Rights Reserved.
  </span>
  <ul
    class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0"
  >
    <li>
      <a href="/dashboard" class="hover:underline me-4 md:me-6">Dashboard</a>
    </li>
    <li>
      <a href="https://www.prisma.io/" class="hover:underline me-4 md:me-6"
        >Prisma Orm</a
      >
    </li>
    <li>
      <a href="https://cloudinary.com/" class="hover:underline me-4 md:me-6"
        >Cloudinary</a
      >
    </li>
    <li>
      <a
        href="https://github.com/Montijunior/Prisma-File-Uploader"
        class="hover:underline"
        >GitHub</a
      >
    </li>
  </ul>
</footer>
