<footer class="footer">
  <div class="footer-left">
    <img
      src="/assets/svgviewer-output (1).svg"
      alt="Logo"
      class="footer-logo"
    />
    <span class="footer-brand-name">Prisma Loader</span>
  </div>
  <div class="footer-center">
    <p style="text-align: center">
      &copy; <%= new Date().getFullYear() %> Prisma Loader. All rights reserved.
    </p>
  </div>
  <div class="footer-right">
    <a
      href="https://github.com/Montijunior/Prisma-File-Uploader"
      target="_blank"
    >
      <i class="fab fa-github"></i> GitHub
    </a>
  </div>
</footer>
